

body{ background:#F0F8FF; }
h1{
	background: #87CEFA;
	font-size: 350%;
	text-align: center;
}

h2{
	background: #ADD8E6;
	font-size: 250%;
	text-align: center;
}
h3{
	font-size: 150%;
}

.child{ 
	display: flex;
  justify-content: center;
}

	